:root {
    --marathongreen: #c0fe05;
}
.doto-font {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
}
.share-tech-mono-regular {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
body {
    background-color: black;
}
#connection-failed-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    gap: 30px;
    display: none;
}
#failed-connection {
    width: 700px;
    height: 200px;
    border: solid 5px var(--marathongreen);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#failed-connection > p {
    display: none;
}
#failed-h2 {
    font-size: 50px;
}
#marathon-sigil {
    background-color: var(--marathongreen);
    width: 500px;
    height: 500px;
    padding: 50px;
    display: none;
}
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
h1 {
    font-size: 15vh;
    background-color: var(--marathongreen);
    margin: 20px;
    width: 50vw;
    padding: 50px;
}
p {
    margin: 0;
    font-size: 30px;
}
#scan-console-black {
    border: solid 1px black;
}
#scan-section {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15vh;
    gap: 4vh;
}
#squiggle {
    border: solid 2px var(--marathongreen);
    border-top: solid 20px var(--marathongreen);
    width: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#scan-button {
    background-color: var(--marathongreen);
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 30px;
}
#scan-button-placeholder {
    background-color: var(--marathongreen);
    color: black;
    width: 200px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}
#green-border {
    border: solid 2px var(--marathongreen);
}
#console-section {
    border: solid 1px black;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    width: 30vw;
    position:fixed;
    top: 20vh;
    left: 20vw;
    display: none;
}
#console-top {
    border: solid 2px var(--marathongreen);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#console-top > p {
    padding: 5px;
}
#console-top > p:last-of-type {
    background-color: red;
    height: 100%;
    width: 27px;
    padding-right: 4px;
    padding-left: 10px;
    text-align: center;
}
#console-top > p:last-of-type:hover {
    cursor: pointer;
}
#console-top > p:last-of-type:active {
    color: red;
    background-color: black;
}
#console-bottom > p {
    font-size: 15px;
}
#connection-success {
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
}
#connect-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#connect-div > h2 {
    font-size: 10vh;
    color: black;
    background-color: var(--marathongreen);
    margin: 20px;
    width: 50vw;
    padding: 50px;
}
#section-connect {
    border: solid 2px var(--marathongreen);
    border-top: solid 20px var(--marathongreen);
    margin-top: 10vh;
    margin-bottom: 5vh;
    padding: 20px;
}
#section-connect > h3 {
    font-size: 5vh;
}
#section-connect > h2 {
    font-size: 10vh;
}
#section-connect > h3, #section-connect > h2 {
    margin: 20px;
}
#disc-button {
    background-color: var(--marathongreen);
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 30px;
}
#log-off {
    margin-top: 20vh;
    width: 70vw;
    height: 30vh;
    border: solid 2px var(--marathongreen);
    border-top: solid 20px var(--marathongreen);
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    text-align: center;
}
#log-off > h2 {
    font-size: 15vh;
    margin: 15px;

}
#durandal {
    display: none;
}